/* Style Definitions */
:root {
  --main_color: #1ca9d4;
  --negative_color: #ffffff;
  --radius: 5px;
  --text_color: #333;
  --trans_dur: 0.2s;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

div {
  margin-bottom: 10px;
}

/* .config-default {
  color: #666;
  border: #666 1px solid;
} */

/* .config-field {
  border: #000 1px solid;
}

.config-field:hover {
  background-color: #ff0000;
} */


/* Panes */
.config-pane {
  background-color: #f9f9f9;
  border-radius: var(--radius);
  border: 1px solid #ddd;
  padding: 5px;
}

.selection-header {
  padding-right: 10px;
  font-weight: bold;
}

/* Buttons */
.config-button {
  border: 1px solid #999;
  color: var(--text_color);
  padding: 10px 20px;
  /*horizontal, vertical*/
  margin-right: 5px;
  margin-bottom: 2.5px;
  margin-top: 2.5px;
  border-radius: var(--radius);
  cursor: pointer;
}

.config-button:hover {
  background-color: var(--main_color);
  color: var(--negative_color);
  border: 1px solid var(--negative_color);
  transition: all var(--trans_dur) ease;
}

.button-selected {
  background-color: var(--main_color);
  color: var(--negative_color);
  border: 1px solid var(--negative_color);
}


/* Config Elements */
.config-label {
  padding-right: 10px;
}

.config-field-td {
  padding-right: 10px;
}

.config-field {
  padding: 5px;
  border-radius: var(--radius);
  background-color: #fff;
  border: 1px solid #ddd;
}

.config-field:hover {
  background-color: #f0f0f0;
  border: 1px solid var(--main_color);
  transition: all var(--trans_dur) ease;
}


/* Backup: Random stuff */
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

/* Add some margins for each label */
.form-inline label {
  margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

/* Style the submit button */
.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
}

.form-inline button:hover {
  background-color: royalblue;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}