/* Settings */
/* TODO(lschmid): Currently copied from config_utilities_ros, consider making a shared resource */
:root {
    --main_color: rgb(65, 105, 225);
    --negative_color: #ffffff;
    --background_color: #f0f0f0;
    --radius: 5px;
    --text_color: #333;
    --trans_dur: 0.3s;
    --font_size: 14px;
}

/* General */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--font_size);
    margin: 20px;
    text-align: center;
    display: block;
}

div {
    margin-bottom: 10px;
}


/* Panes */
.config-pane {
    background-color: var(--background_color);
    border-radius: var(--radius);
    border: 1px solid #ddd;
    padding: 5px 10px;
    display: block;
    width: 100%;
    max-width: 1200px;
    min-width: 500px;
    margin: 20px auto;
    box-sizing: border-box;
    text-align: left;
}

.selection-header {
    padding-right: 10px;
    font-weight: bold;
}


/* Buttons */
.config-button {
    border: 1px solid #999;
    color: var(--text_color);
    padding: 10px 20px;
    margin-right: 5px;
    margin-bottom: 2.5px;
    margin-top: 2.5px;
    border-radius: var(--radius);
    cursor: pointer;
}

.config-button:hover {
    background-color: var(--main_color);
    color: var(--negative_color);
    border: 1px solid var(--negative_color);
    transition: all var(--trans_dur) ease;
}

.button-selected {
    background-color: var(--main_color);
    color: var(--negative_color);
    border: 1px solid var(--negative_color);
}

.config-button-inline {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 0px;
    vertical-align: middle;
    border: 1px solid #999;
    border-radius: 4px;
    font-size: 18px;
    color: #666;
    margin: 0px 0px 0px 10px;
    padding: 0px;
}

/* Config Table */
.config-table {
    border-collapse: collapse;
}

.config-table th,
.config-table td {
    position: relative;
}

.resizer {
    position: absolute;
    right: 0;
    top: 0;
    width: 10px;
    height: 100%;
    cursor: col-resize;
    user-select: none;
    z-index: 1;
}

/* Config Elements */
.config-label {
    padding-right: 10px;
}

.config-field-td {
    padding-right: 10px;
}

.config-field {
    padding: 5px;
    border-radius: var(--radius);
    background-color: #fff;
    border: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
}

.subconfig-field {
    padding: 0px;
    margin: 0px;
    background-color: #fff;
    border: 0px solid #ddd;
    font-size: var(--font_size);
    text-align: center;
}

.config-field:hover,
.subconfig-field:hover {
    background-color: #f0f0f0;
    border: 1px solid var(--main_color);
    transition: all var(--trans_dur) ease;
    border-radius: var(--radius);
    padding: 5px;

}

.config-field:focus,
.subconfig-field:focus {
    background-color: #f8f8f8;
    border: 1px solid var(--main_color);
    transition: all var(--trans_dur) ease;
    padding: 5px;
    border-radius: var(--radius);
}

/* .virtual-config-type { */
/* width: 100%; */
/* box-sizing: border-box; */
/* } */