.wide-pane {
  max-width: 100%;
}

.display-pane {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  padding: 1em;
  margin-top: 1em;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: row;
  gap: 2em;
  /* white-space: pre-wrap; */
}

.yaml-value {
  font-family: monospace;
  color: var(--text_color);
  white-space: pre-wrap;
  font-size: larger;
  font-weight: bold;
}