%YAML 1.2
---
launch:
  # A node that contains a config file.
  - node:
      pkg: "config_utilities_ros"
      exec: "demo_ros_dynamic_config_server"
      name: "node1_with_dynamic_configs"
      output: "screen"

  # A different node (of the same type) that contains a config file.
  - node:
      pkg: "config_utilities_ros"
      exec: "demo_ros_dynamic_config_server"
      name: "node2_with_dynamic_configs"
      namespace: "some_ns"
      output: "screen"

  # The dynamic config GUI.
  - node:
      pkg: "config_utilities_ros"
      exec: "gui"
      name: "dynamic_config_gui"
      output: "screen"
