<!DOCTYPE html>
<html lang="en">

<!-- Head -->

<head>
  <title>Config Utilities Dynamic Configs</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<!-- Scripts -->
<script src="{{ url_for('static', filename='js/build_fields.js') }}"></script>
<script src="{{ url_for('static', filename='js/read_config.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Body -->

<body>

  <header>
    <h1>Config Utilities Dynamic Config GUI</h1>
  </header>

  <!-- Here goes the config selection -->
  <div class="config-pane">
    <h2>Select a config</h2>
    <form action="/select/" method="post">
      <select name="config_name" id="config_name">
        {% for config in config_list %}
        <option value="{{ config }}">{{ config }}</option>
        {% endfor %}
      </select>
      <button type="submit">Select</button>
    </form>

  </div>

  <!-- The config -->
  <div class="config-pane">

    <table id="config-table" class="config-table">
      <tr>
        <th>{{ config_name }} </th>
        <th>Value</th>
        <th>Default</th>
      </tr>
      <script>
        const configData = {{ config_data | tojson }};
        buildFields(configData);
      </script>
    </table>
  </div>


  <div class="config-pane">
    <button name="refreshBtn" class='config-button' type="submit" onclick="post('/refresh');">Refresh</button>
    <button name="submitBtn" class='config-button' type="submit" onclick="readConfig();">Submit</button>
  </div>
  <!-- <footer>
    &copy; config_utilities dynamic configs v1.0.0
  </footer> -->

</body>