<!DOCTYPE html>
<html lang="en">

<!-- Head -->

<head>
  <title>Config Utilities Dynamic Configs</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<!-- Scripts -->
<script src="{{ url_for('static', filename='js/build_fields.js') }}"></script>
<script src="{{ url_for('static', filename='js/selection_panes.js') }}"></script>
<script src="{{ url_for('static', filename='js/read_config.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  // Reload the page when the AJAX request is complete.
  $(document).ajaxStop(function () {
    window.location.reload(false);
  });
</script>

<!-- Body -->

<body>
  <header>
    <h1>Config Utilities Dynamic Config GUI</h1>
  </header>

  <!-- The config -->
  <div class="config-pane">

    <table id="config-table" class="config-table">
      <tr>
        <th>{{ config_name }} </th>
        <th>Value</th>
        <th>Default</th>
      </tr>
      <script>
        const configData = {{ config_data | tojson }};
        buildFields(configData);
      </script>
    </table>
  </div>


  <!-- Interaction with the config -->
  <div class="config-pane">
    <button name="refreshBtn" class='config-button' type="submit" onclick="post('/refresh');">Refresh</button>
    <button name="submitBtn" class='config-button' type="submit" onclick="readConfig();">Submit</button>
  </div>


  <!-- Config Key selection -->
  <div class="config-pane" id="key-pane">
    <span class="selection-header">Config:</span>
    <script>
      const availableKeys = {{ available_keys | tojson }};
      const activeKey = "{{ active_key }}";
      buildSelectionPane(availableKeys, activeKey, 'key-pane');
    </script>
  </div>

  <!-- Config Server selection -->
  <div class="config-pane" id="server-pane">
    <span class="selection-header">Server:</span>
    <script>
      const availableServers = {{ available_servers | tojson }};
      const activeServer = "{{ active_server }}";
      buildSelectionPane(availableServers, activeServer, 'server-pane');
    </script>
  </div>

  <!-- Message Pane -->
  {% if message %}
  <div class="config-pane" id="message-pane">
    <span id="message-text">{{ message }}</span>
  </div>
  {% endif %}


  <!-- <footer>
    &copy; config_utilities dynamic configs v1.0.0
  </footer> -->

</body>